{% extends 'main/layout/layout.html' %}

{% block title%}Terms of Service{% endblock %}

{% block content%}
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
        }
        .button {
            text-align: center;
        }
        .head{
            background-color: white;
            border: 1px solid;
            padding: 20px;
            margin: 10px auto;
            border-radius: 8px;
            box-shadow: 0 4px 6px;
            flex: 1 1 30%;
            width: 800px;
        }

        .head h3{
            margin-top: 0;
        }
    </style>
    <div class="features">
        <div class ="head">
            <h1 style="text-align: center;">Terms of Service</h1>
            <h2 style="text-align: center;">Everything you need to know, all in one place!</h2>
            <p style="text-align: center;">If you want to see most Friquent Ask Questions, click <a href="#FAQ">here</a>!</p><br>
        </div>

        <br>
        <br>
        <br>
        <br>

        <h3>General Terms</h3>
        <ol>
            <li>The terms of use of the Service, including the rules of Registration, 
                publication of Advertisements and purchase of Paid Services, 
                as well as issues related to payments and complaint procedures are specified in the Regulations. 
                Each user of the Service is obliged to familiarize themselves with the content of the Regulations.</li>
            <li>Final Price - the price including VAT and excise duty (if applicable) 
                at which the Item or Service is offered to Buyers.
                Guests may only use limited functions of the Service under the terms set out in these Regulations, 
                with respect for the law and principles of fairness.</li>
            <li>Content published on the Website, including in particular Advertisements, 
                regardless of their form, i.e. text, graphic and video materials, 
                are subject to protection by intellectual property rights, including copyright and industrial property rights, 
                of the MP Group, Sellers or third parties. 
                Any use of this content without the written consent of the authorized parties is prohibited. 
                Any aggregation and processing of data and other information available on the Website for the purpose 
                of further sharing with third parties within other websites and outside the Internet is prohibited. 
                It is also prohibited to use the Website and MP Group markings, 
                including characteristic graphic elements, without the consent of the MP Group.</li>
            <li>The MP Group is not a party to the Transaction. 
                The provisions on the protection of consumer rights shall not apply to Transactions concluded between Consumers, 
                i.e. individuals who are not entrepreneurs, 
                including when using the MP Shipment and MP Payment services.</li>
            <li>Users can make a Transaction:
                via the Service using the services: MP Shipment and MP Payments, 
                referred to in points 10 and 11 of the Regulations, or
                by contacting each other directly to establish the terms and finalize the Transaction. 
                The User can establish direct contact with the Seller using the chat on the Service, 
                the Seller's telephone number on the Advertisement page (if provided) 
                or using other forms of contact established by the Users.</li>
            <li>The services of viewing the contents of the Service, 
                Account and publishing Advertisements within the free Limits are provided free of charge. 
                Services that are provided for a fee are indicated in the Regulations.</li>
            <li>Payment services are provided by external service providers on behalf of Users, 
                based on separate legal relations to which the MP Group is not a party.</li>
            <li>A Seller who is a legal person or an organizational unit without legal personality, 
                to which the law grants legal capacity, and whose registered office or permanent place 
                of business is located outside the European Union, 
                is not able to use the MP Shipment and MP Payment services.</li>
            <li>Users communicating with other Users via the chat functionality on the Service acknowledge 
                that these conversations are not private and their content may be collected by the MP Group. 
                By accepting these Terms and Conditions, the User confirms that the MP Group has the right 
                to access and analyze the content of conversations conducted via 
                the chat functionality on the Service in order to increase the safety of Users, 
                prevent abuse and improve the Service.</li>
        </ol><br>


        <h3>Account</h3>

        <ol>
            <li>In order to obtain full functionality of the Service, the Guest should (1) Register an Account,
                 (2) specify whether they are using the Service privately or as an entrepreneur, 
                 and (3) use the Service as a logged-in User. The Account gives the User the ability to use, 
                among others, the following functionalities of the Service:</li>
                <ol type="a">
                    <li>publishing and managing published Posts;</li>
                    <li>observing Posts of other Users 
                        and receiving PUSH notifications about changes in the prices of Items offered in observed Posts;</li>
                    <li>managing payments and invoices related to services provided on the Website by the MP Group;</li>
                    <li>sending and receiving messages to other Users;</li>
                    <li>concluding Transactions using the MP Shipment service;</li>
                </ol>
            <li>The User may only be a natural person with full legal capacity, 
                a legal person or an organizational unit without legal personality, 
                to which the law grants legal capacity. 
                In the case of legal persons and organizational units without legal personality, 
                only a person authorized to act in this respect on behalf of these entities 
                may create an Account on their behalf and perform all activities within the Service.</li>
            <li>The User may only have one Account on the Website under single email adress.</li>
            <li>Rejestracja Konta wymaga:</li>
            <ol type="a">
                <li>completing the form available on the Website and providing the data required therein, 
                    including the User's email address and a unique password 
                    or authentication via an external service provider such as Facebook, Google or Apple;</li>
                <li>familiarize yourself with the Regulations and its annexes and accept their provisions.</li>
            </ol>
            <li>The MP Group processes the personal data of Users, persons acting on behalf of Users and Guests 
                in accordance with the provisions of the Privacy Policy and the Policy on Cookies and Similar Technologies.</li>
            <li>After filling in the data required for Registration, a confirmation of Account Registration, 
                a link to activate the Account and the current Regulations will be sent to the email address provided by the User. 
                Registration is completed when the Account is activated by the User. 
                At this moment, the Account service agreement is concluded. 
                If activation is not performed within 30 Days from the receipt of the email confirming Account Registration, 
                the activation link expires and the Account is not activated. 
                The User can register again using the same email address only 
                after contacting the MP Group: using the contact form.</li>
            <li>The User is obliged to provide true, 
                correct and current data during the Registration process and during the use of the Service, 
                and to use which they are authorized. The User is obliged to update the data in the event of its change. 
                The MP Group has the right to block the Account if the data provided does not meet the above requirements, 
                in accordance with the procedure specified in point 13 of the Regulations.</li>
            <li>A person acting within the Service on behalf of and for the benefit of a User
                 who is a legal person or an organizational unit without legal personality, 
                 to which the law grants legal capacity, must be duly authorized to act and perform all activities within
                  the Service on behalf of and for such User. 
                  Grupa MP has the right to perform additional verification of such a person by requesting 
                a document confirming authorization to act on behalf of the User.</li>
            <li>The User undertakes to keep the access data to the Account secret and to protect them from access 
                by third parties. The User will immediately inform the MP Group in the event of receiving information 
                about the access data to the Account being obtained by unauthorized third parties and, 
                if possible, will immediately change them.</li>
            <li>The Account service agreement is concluded for an indefinite period of time upon activation of the Account. 
                The Account service agreement may be terminated by the User in accordance with the following rules:</li>
            <ol type="a">
                <li>the right to delete the Account shall not affect the User's rights to withdraw from or terminate the contract, 
                    as provided for by law and these Regulations;</li>
                <li>Account deletion is possible by: (i) selecting the appropriate option in the Account panel, 
                    (ii) sending a statement of termination via the contact form or 
                    (iii) sending a statement of termination in writing to the MP Group address;</li>
                <li>upon deletion of the Account by the User, the remaining agreements between the MP Group 
                    and the User regarding services provided within the Website expire;</li>
                <li>termination of the Account agreement will be effective from the moment it is made (for the future), 
                    the MP Group will refund the Consumers the equivalent of the unused amounts under the Paid Services;</li>
                <li>After deleting the Account or terminating the Account agreement, 
                    the User loses access to information provided or generated in the course of using the Service.</li>
            </ol>
            <li>The MP Group is entitled to terminate the agreement with the User if the User:</li>
            <ol type="a">
                <li>has not logged into the Account for a period longer than 36 months. As a result, 
                    the User will no longer be entitled to use the deleted Account. 
                    Information about the termination of the agreement will be sent to the User 30 days in advance 
                    to the e-mail address provided during Registration. 
                    The User will be able to express their desire to continue using the Account by using 
                    the functionality provided for this purpose, which requires the User to log into the Account. 
                    The right of the MP Group to terminate the agreement in accordance with this provision does not 
                    limit the User's right to re-register on the Website. However, the MP Group does not guarantee 
                    that the previous User name associated with the Account will be available for use during a new registration;</li>
                <li>despite a prior request from the MP Group to cease and desist from certain actions 
                    or omissions that violate the provisions of the Regulations or generally applicable laws, 
                    the User continues to take the actions indicated in the request.</li>
            </ol>
        </ol><br>


        <h3>Rules for publishing Posts</h3>
        <ol>
            <li>The MP Group enables the User to publish an Advertisement on the Website. 
                The publication of an Advertisement on the Website by the User takes place after filling 
                in the appropriate form.</li>
            <li>An Advertisement published by a User on the Service is available to all users of the Service. 
                Along with the Advertisement, a contact form will also be made available, 
                allowing Users to contact the User publishing the Advertisement and send them a message. 
                Depending on the Seller's choice, their telephone number may also be publicly available in the Advertisement, 
                and in order to gain access to the number, 
                the User may be asked to log in to the Account.</li>
            <li>The content of each Advertisement should meet the requirements specified in point 13.1 of the Regulations, 
                be truthful, unambiguous and understandable and meet the technical requirements specified by the MP Group. 
                The User retains the freedom to determine the content 
                of the Advertisement within the limits of the law and in compliance with the following requirements:</li>
            <ol type="a">
                <li>The advertisement will not contain words generally considered vulgar or offensive.</li>
                <li>The User will select one Category and thematic subcategory appropriate 
                    to the Item to which the Advertisement should be assigned;</li>
                <li>The User will indicate the Final Price. The User may indicate that the price is negotiable or the 
                    Item is offered for free or the User allows the possibility of exchanging the 
                    Item for another good or service.</li>
                <li>The User will indicate the condition of the Item within the parameters 
                    made available on the Website for Advertisements in a given Category;</li>
                <li>the content of the Advertisement should contain a clear, accurate and complete description of the Item, 
                    containing true and not misleading information about the features of the Item and the terms of the Transaction. 
                    It is forbidden to provide this information bypassing the Service. The content of the Advertisement also includes 
                    the photos added to it and the title of the Advertisement; 
                    the Advertisement must be current for the time of its publication on the Service;</li>
                <li>The subject of an Advertisement may only be an Item that is in the possession (control) of the User.</li>
                <li>one Advertisement may concern one Item;</li>
                <li>it is necessary to indicate whether the Advertisement concerns a single item, several items of the same Item or a set/package 
                    (a set means a set of elements constituting a single whole). 
                    It is possible to add in the content of one Advertisement information about the availability of the Item in different colours or different, 
                    similar versions that are the subject of another Advertisement;</li>
                <li>The content of the Advertisement may not include content such as, in particular: advertisements, promotional and advertising content, 
                    website addresses and other elements leading Users to websites providing the same or similar services as the MP Group;</li>
            </ol>
            <li>If the User publishes an Advertisement in the wrong Category, the MP Group is entitled to change the Category.</li>
            <li>The subject of the Advertisement may not be:</li>
            <ol type="a">
                <li>an offer of a dating, matrimonial or sexual nature;</li>
                <li>any asset, provided that trading in it is excluded due to applicable legal provisions, 
                    asset originating from theft or subject to a court or administrative dispute, 
                    or asset covered by enforcement proceedings or forming part of the bankruptcy or reorganization estate.</li>
            </ol>
            <li>The publication of an Advertisement on the Website is made by the User by clicking on the "Add an Advertisement" icon.</li>
            <li>During the period of publication of the Advertisement on the Website, 
                the User may modify the content of the Advertisement and some of its parameters, as well as remove the Advertisement.</li>
            <li>The possibility of modifying the content of the Advertisement does not apply to changes in the price or any other parameters 
                of the published Advertisement aimed at avoiding payment of the amount due.</li>
        </ol>

        <h3>Illegal actions of Users that are inconsistent with the Regulations</h3>
        <ol>
            <li>The User is entitled to use the Service in accordance with its intended purpose, 
                within the limits of the law and good customs applicable to the information society, 
                while respecting the rights and goods of other people. In particular, the User undertakes to:</li>
                <ol type="a">
                    <li>not taking any action that could disrupt the proper functioning of the Website, 
                        including not interfering with the content of the Website, the Account or Accounts of other Users, 
                        or the IT elements of the Website;</li>
                    <li>not to take any illegal actions, including sending or publishing content using the functionality of the Service that violates the law, 
                        personal rights, content containing or disseminating child pornography or terrorist content and infringing the intellectual property rights of others, 
                        as well as content of a discriminatory or racist nature;</li>
                    <li>not to conduct sales using the functionality of the Website (or not to take other actions having a similar effect) 
                        of the Items listed in Annex No. 5 “Prohibited and conditionally permitted items”;</li>
                    <li>not to mislead persons using the Website and the MP Group, e.g. by providing false information 
                        regarding the Item or concealing important information;</li>
                    <li>refraining from acting in bad faith, abusing the functionality of the Service, 
                        using the Service contrary to its intended purpose and contrary to the Terms and Conditions;</li>
                    <li>not misleading Users regarding the condition, features and elements of the Item and other terms of the Transaction</li>
                </ol>
            <li>The User is obliged to comply with the obligation specified in point 13.1 of the Regulations at every stage of using the Website, 
                in relation to each functionality offered, including in particular in the case of publishing Advertisements 
                and sending messages to other Users.</li>
            <li>The publishing or sending of any content on the Website is done in an automated manner, using the Website interface, 
                and the MP Group does not automatically verify all content sent using the functionality of the Website.</li>
            <li>Each person using the Service has the possibility to report to the MP Group illegal content or content that is inconsistent with the Regulations, 
                distributed using the functionality of the Service, via the "report violation" functionality available within the Advertisement</li>
            <li>If it receives credible information (based on an Abuse Report or otherwise) that content sent 
                or published using the functionality of the Service is unlawful or violates the provisions of the Regulations, 
                the MP Group may immediately block the content in question and then take appropriate explanatory steps to determine the circumstances of the case, 
                acting proportionately and reasonably, including, for example, 
                by contacting the entity reporting the abuse, the provider of the content in question, 
                the relevant authority or an external advisor;</li>
            <li>The MP Group is entitled to remove an Advertisement or block an Account if there is a suspicion that the Advertisement 
                or Account may have been or may have been used to conduct activities that threaten the safety of other Users within the Service, 
                as well as in the event that the Advertisement negatively affects the good name of the MP Group or otherwise harms the MP Group.</li>
            <li>In the event of a serious violation of the law using the Website, 
                as well as a serious or repeated violation of the provisions of the Regulations, 
                in particular in the event of repeated attempts to publish or disseminate illegal content by a given User or various 
                Users acting jointly and in agreement, including using different Accounts, 
                the MP Group may, while maintaining the principles of proportionality and respect for freedom of circulation, 
                suspend the Account or Accounts or block them temporarily or permanently, 
                which will be tantamount to a temporary suspension of the provision of services to the User, 
                taking into account the following principles:</li>
            <li>The User will be informed in the event of blocking or suspending a given content or Account, 
                at the latest at the time the blocking becomes effective, in the form of an e-mail message, 
                indicating the blocked or suspended content or Account, 
                the reasons for the decision to block or suspend, 
                and indicating the grounds for the decision resulting from the content of the Regulations.</li>
            <li>A User who disagrees with the decision to block or suspend content or an Account has the right to file a complaint.</li>
            <li>The MP Group makes decisions to block or suspend content or an Account based on internal policies and moderation procedures.</li>
        </ol>

        <h3>Final statements</h3>
        <ol>
            <li>The MP Group has the right to change the Regulations for the following reasons:</li>
            <ol type="a">
                <li>the need to improve User security;</li>
                <li>the need to improve the operation of the Service;</li>
                <li>the need to counteract abuses committed in connection with the use of the Service;</li>
                <li>a change in generally applicable legal provisions that has a direct impact on the content of the Regulations.</li>
            </ol>
            <li>The User will be informed about each change by posting information on the Service website and electronically.</li>
            <li>The User who does not accept the content of changes to the Regulations retains the right 
                to terminate the Account service agreement at any time.</li>
            <li>In order to develop the Website, the MP Group has the right to introduce new services and functionalities, 
                which may be preceded by product tests, without prejudice to the acquired rights of Users.</li>
            <li>Any disputes related to the services provided by the MP Group within the Service will be submitted to the competent common courts.</li>
        </ol>



        <h2 id="FAQ" style="text-align: center;">Frequently Asked Questions</h2>
        <br><br>

        <div class="button">
            <a class="btn btn-primary btn-lg">FAQ</a>

            <br><br><br><br>

            <a href="/contact" class="btn btn-primary btn-lg">Contact us!</a>
        </div>
    </div>


{% endblock %}