{% extends 'main/layout/layout.html' %}

{% load static %}

{% block title%}Add post{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/post_form.css' %}">
<link rel="stylesheet" href="{% static 'main/css/messages.css' %}">
{% endblock %}

{% block content%}
{% include 'main/messages.html' %}

<main>
    <div class="container-sm">
        <div class="form-wrapper">
            <h1 class="form-title">Add post</h1>
            <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {{ form.title }}
                {{ form.excerpt }}
                {{ form.body }}
                {{ form.published_at }}
                {{ form.post_image }}

                {% if error %}
                <span class="error">{{ error }}</span>
                {% endif %}

                <button class="btn btn-success" type="submit">Add post</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}