{% extends 'main/layout/layout.html' %}
 
{% block title%}To-do lists{% endblock %}
 
{% block content%}
    <h1>To-do lists</h1>


    <div class="pb-4">
        <a class="btn btn-info btn-block" href="/todo-lists/create">Create a new list</a>
    </div> 

   <div>
       <table class="table table-striped">
           <thead>
           <tr>
               <th scope="col">Name</th>
               <th scope="col">Owner</th>
               <th scope="col">Status</th>
           </tr>
           </thead>
           <tbody>
           {% for list in lists %}
               <tr>
                   <td><a href="/todo-lists/{{ list.id }}">{{ list.name }}</a></td>
                   <td>{{ list.owner }}</td>
                   <td>
                    {% if list.is_empty %}
                        <span class="badge bg-secondary">Empty list</span>
                    {% else %}
                        {% if list.is_completed %}
                            <span class="badge bg-success">Completed!</span>
                        {% else %}
                            <span class="badge bg-primary">In progress...</span>
                        {% endif %}
                    {% endif %}

                    </td>                   
               </tr>
           {% endfor %}
           </tbody>
       </table>
   
    </div>
{% endblock %}