{% extends 'main/layout/layout.html' %}

{% load static %}

{% block title%}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Login</h1>
        <form action="/user/login/" method="post">
            {{ form }}
            {% if request.GET.next %}
            <input type="hidden" name = 'next' value="{{ request.GET.next }}" >
            {% endif %}
            <button>Login</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}