.main {
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .d-flex {
    display: flex;
    }

    main {
        flex-grow: 1;
        justify-content: center;
    }
    
    .features {
        font-family: 'Arial', sans-serif;
    }
    /*so the font matched the marketplace main site*/

    .contact-box {
        border: 1px solid #052983;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }
    /*box jak jest zwinięty*/

    .ta-center{
        text-align: center;
    }

    .container {
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
        background-color: #f9f9f9;
    }
    /*contact*/

    .contact-label {
        font-style: italic;
        color: #033393;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    /*box jak się rozwinie*/

    .arrow {
        transition: transform 0.3s ease;
    }
    /*strzałeczka owo*/

    input[type="checkbox"]:checked + label .arrow {
        transform: rotate(180deg);
    }
    /*strzałeczka robi backflipy hihi*/

    input[type="checkbox"]{
        display: none;
    }
    /*ukrywa boxa*/

    label{
        font-style: italic;
        color: blue;
        cursor: pointer;
        font-size: large;
        display: block;
        margin: 15px 0;
    }
    /*wygląd linku zachęcający do kliknięcia*/

    .dane {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        margin-left: 100px;
    }
    /*dane są ukrywane na początku*/

    input[type="checkbox"]:checked + label + .dane {
        max-height: 500px;
    }
    /*jeśli checkbox jest zaznaczony, pokaż dane*/
    /**/
    /**/