/* General Styles */
body {
    background-color: #f4f4f9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-grow: 1;
}

main .container-sm {
    margin-left: auto;
    margin-right: auto;
    min-width: 997px;
}

.bg-light {
    background-color: #ffffff !important;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.display-4 {
    font-weight: 400 !important;
}

.lead {
    font-weight: 350;
}

.best-deals-title {
    color: #3f3f3f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-top: 30px
}

h1, h2 {
    color: #222;
}

.btn-primary {
    background-color: #1775da; 
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #094280; 
}

.btn-warning {
    background-color: #ffaa29; 
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-warning:hover {
    background-color: #e68900;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.bg-light.py-5 {
    background-color: #f8f9fa;
    padding: 50px 0;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.btn-secondary {
    background-color: #738391;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.homepage-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.img-wrapper {
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    max-height: 100%;
    width: auto;
}

.row.align-items-stretch > .col-md-4 {
    display: block;
}

.row.align-items-stretch > .col-md-4 > .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row.align-items-stretch > .col-md-4 > .card > .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row.align-items-stretch > .col-md-4 > .card > .card-body > .card-text {
    flex-grow: 1;
}

.row.align-items-stretch > .col-md-4 > .card > .card-body > a.btn {
    margin-top: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}